extends base.pug

block content   
    // Blog Section Begin
    section.blog-section.spad
        .container
            .row
                .col-lg-3.col-md-6.col-sm-8.order-2.order-lg-1
                    .blog-sidebar
                        .search-form
                            h4 Search
                            form(action='#')
                                input(type='text' placeholder='Search . . .  ')
                                button(type='submit')
                                    i.fa.fa-search
                        .blog-catagory
                            h4 Categories
                            ul
                                li
                                    a(href='#') Fashion
                                li
                                    a(href='#') Travel
                                li
                                    a(href='#') Picnic
                                li
                                    a(href='#') Model
                        .recent-post
                            h4 Recent Post
                            .recent-blog
                                a.rb-item(href='#')
                                    .rb-pic
                                        img(src='img/blog/recent-1.jpg' alt='')
                                    .rb-text
                                        h6 The Personality Trait That Makes...
                                        p
                                            | Fashion 
                                            span - May 19, 2019
                                a.rb-item(href='#')
                                    .rb-pic
                                        img(src='img/blog/recent-2.jpg' alt='')
                                    .rb-text
                                        h6 The Personality Trait That Makes...
                                        p
                                            | Fashion 
                                            span - May 19, 2019
                                a.rb-item(href='#')
                                    .rb-pic
                                        img(src='img/blog/recent-3.jpg' alt='')
                                    .rb-text
                                        h6 The Personality Trait That Makes...
                                        p
                                            | Fashion 
                                            span - May 19, 2019
                                a.rb-item(href='#')
                                    .rb-pic
                                        img(src='img/blog/recent-4.jpg' alt='')
                                    .rb-text
                                        h6 The Personality Trait That Makes...
                                        p
                                            | Fashion 
                                            span - May 19, 2019
                        .blog-tags
                            h4 Product Tags
                            .tag-item
                                a(href='#') Towel
                                a(href='#') Shoes
                                a(href='#') Coat
                                a(href='#') Dresses
                                a(href='#') Trousers
                                a(href='#') Men&apos;s hats
                                a(href='#') Backpack
                .col-lg-9.order-1.order-lg-2
                    .row
                        .col-lg-6.col-sm-6
                            .blog-item
                                .bi-pic
                                    img(src='img/blog/blog-1.jpg' alt='')
                                .bi-text
                                    a(href='./blog-details.html')
                                        h4 The Personality Trait That Makes People Happier
                                    p
                                        | travel 
                                        span - May 19, 2019
                        .col-lg-6.col-sm-6
                            .blog-item
                                .bi-pic
                                    img(src='img/blog/blog-2.jpg' alt='')
                                .bi-text
                                    a(href='./blog-details.html')
                                        h4 This was one of our first days in Hawaii last week.
                                    p
                                        | Fashion 
                                        span - May 19, 2019
                        .col-lg-6.col-sm-6
                            .blog-item
                                .bi-pic
                                    img(src='img/blog/blog-3.jpg' alt='')
                                .bi-text
                                    a(href='./blog-details.html')
                                        h4 Last week I had my first work trip of the year to Sonoma Valley
                                    p
                                        | travel 
                                        span - May 19, 2019
                        .col-lg-6.col-sm-6
                            .blog-item
                                .bi-pic
                                    img(src='img/blog/blog-4.jpg' alt='')
                                .bi-text
                                    a(href='./blog-details.html')
                                        h4 Happppppy New Year! I know I am a little late on this post
                                    p
                                        | Fashion 
                                        span - May 19, 2019
                        .col-lg-6.col-sm-6
                            .blog-item
                                .bi-pic
                                    img(src='img/blog/blog-5.jpg' alt='')
                                .bi-text
                                    a(href='./blog-details.html')
                                        h4 Absolue collection. The Lancome team has been one&mldr;
                                    p
                                        | Model 
                                        span - May 19, 2019
                        .col-lg-6.col-sm-6
                            .blog-item
                                .bi-pic
                                    img(src='img/blog/blog-6.jpg' alt='')
                                .bi-text
                                    a(href='./blog-details.html')
                                        h4 Writing has always been kind of therapeutic for me
                                    p
                                        | Fashion 
                                        span - May 19, 2019
                        .col-lg-12
                            .loading-more
                                i.icon_loading
                                a(href='#')
                                    | Loading More
                // Blog Section End
    // Partner Logo Section Begin
    .partner-logo
        .container
            .logo-carousel.owl-carousel
                .logo-item
                    .tablecell-inner
                        img(src='img/logo-carousel/logo-1.png' alt='')
                .logo-item
                    .tablecell-inner
                        img(src='img/logo-carousel/logo-2.png' alt='')
                .logo-item
                    .tablecell-inner
                        img(src='img/logo-carousel/logo-3.png' alt='')
                .logo-item
                    .tablecell-inner
                        img(src='img/logo-carousel/logo-4.png' alt='')
                .logo-item
                    .tablecell-inner
                        img(src='img/logo-carousel/logo-5.png' alt='')
    // Partner Logo Section End
