// Footer Section Begin
footer.footer-section
  .container
    .row
      .col-lg-3
        .footer-left
          .footer-logo
            a(href='#')
              img(src='./img/footer-logo.png' alt='')
          ul
            li Address: 60-49 Road 11378 New York
            li Phone: +65 11.188.888
            li Email: hello.colorlib@gmail.com
          .footer-social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
      .col-lg-2.offset-lg-1
        .footer-widget
          h5 Information
          ul
            li
              a(href='/aboutUs') About Us
            li
              a(href='/checkout') Checkout
            li
              a(href='/contact') Contact
      .col-lg-2
        .footer-widget
          h5 My Account
          ul
            li
              a(href='/account') My Account
            li
              a(href='/cart') Shopping Cart
            li
              a(href='/shop') Shop
      .col-lg-4
        .newslatter-item
          h5 Join Our Newsletter Now
          p Get E-mail updates about our latest shop and special offers.
          form.subscribe-form(action='#')
            input(type='text' placeholder='Enter Your Mail')
            button(type='button') Subscribe
  .copyright-reserved
    .container
      .row
        .col-lg-12
          .copyright-text
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          .payment-pic
            img(src='img/payment-method.png' alt='')
// Footer Section End


// Js Plugins
script(src='./js/jquery-3.3.1.min.js')
script(src='./js/bootstrap.min.js')
script(src='./js/jquery-ui.min.js')
script(src='./js/jquery.countdown.min.js')
script(src='./js/jquery.nice-select.min.js')
script(src='./js/jquery.zoom.min.js')
script(src='./js/jquery.dd.min.js')
script(src='./js/jquery.slicknav.js')
script(src='./js/owl.carousel.min.js')
script(src='./bundle.js')
