<!-- right column -->
<div class="col-md-4">
    <!-- general form elements disabled -->
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Add Category</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form role="form">
          <div class="row">
            <div class="col-sm-12">
              <!-- text input -->
              <div class="form-group">
                <label>Name</label>
                <input id="name" name="name" type="text" class="form-control" placeholder="Enter ...">
              </div>
              <div class="form-group">
                <!-- <label for="customFile">Custom File</label> -->

                <div class="custom-file">
                  <input id="addImageName" name="imageName" type="file" class="custom-file-input">
                  <label  class="custom-file-label"  for="customFile">Choose Image</label>
                </div>
              </div>

            </div>

          </div>
          <a href="javascript:void(0)" class="btn btn-sm btn-info float-left" id="add-category">Add Category</a>
       </form>
    </div>
   </div>
</div>
</div>