<!-- right column -->
<div class="col-md-4">
    <!-- general form elements disabled -->
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Add Product</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form role="form">
          <div class="row">
            <div class="col-sm-12">
              <!-- text input -->
              <div class="form-group">
                <label>Name</label>
                <input id="addproductname" name="name" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                <label>Category</label>
                <select id="addcatOption" class="form-control">
                    
                </select>
                </div>
              </div>
          </div>
              <div class="form-group">
                <!-- <label for="customFile">Custom File</label> -->

                <div class="custom-file">
                  <input id="addImageName" name="imageName" type="file" class="custom-file-input">
                  <label  class="custom-file-label"  for="customFile">Choose Image</label>
                </div>
              </div>

          

            <div class="row">
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                <label>Mrp</label>
                <input id="addmrp" name="mrp" type="text" class="form-control" placeholder="Mrp...">
                </div>
            </div>

            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                <label>Price</label>
                <input id="addprice" name="price" type="text" class="form-control" placeholder="Price..." >
                </div>
            </div>

            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                <label>Qty.</label>
                <input id="addqty" name="qty" type="text" class="form-control" placeholder="Qty...">
                </div>
            </div>
            
            </div>


            <div class="row">
            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                <label>Short Discription</label>
                <textarea id="addshort_desc" name="short_desc" type="text" class="form-control" placeholder="Short Discription"></textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                <label>Discription</label>
                <textarea id="adddescrip" name="descrip" type="text" class="form-control" placeholder="Discription..."></textarea>
                </div>
            </div>
            
            </div>

            
            <div class="row">
            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                <label>Meta Title</label>
                <input id="addmeta_title" name="meta_title" type="text" class="form-control" placeholder="Meta Title...">
                </div>
            </div>
          </div>
            
            <div class="row">
            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                    <label>Meta Discription</label>
                    <textarea id="addmeta_desc" name="meta_desc" type="text" class="form-control" placeholder="Meta Discription..."></textarea>
                </div>
            </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm btn-info float-left" id="add-category">Add Product</a>
       </form>
    </div>
   </div>
</div>
</div>