.sidenav-overlay
.drag-target
// BEGIN: Footer
footer.footer.footer-static.footer-light
  p.clearfix.blue-grey.lighten-2.mb-0
    span.float-md-left.d-block.d-md-inline-block.mt-25
      | COPYRIGHT &copy; 2020
      a.text-bold-800.grey.darken-2(href='https://1.envato.market/pixinvent_portfolio' target='_blank') Pixinvent,
      | All rights Reserved
    span.float-md-right.d-none.d-md-block
      | Hand-crafted &amp; Made with
      i.feather.icon-heart.pink
    button.btn.btn-primary.btn-icon.scroll-top(type='button')
      i.feather.icon-arrow-up
// END: Footer
// BEGIN: Vendor JS
script(src='../../app-assets/vendors/js/vendors.min.js')
script(src='../../app-assets/vendors/js/axios.js')
// BEGIN Vendor JS
// BEGIN: Page Vendor JS
script(src='../../app-assets/vendors/js/tables/datatable/datatables.min.js')
script(src='../../app-assets/vendors/js/tables/datatable/datatables.buttons.min.js')
script(src='../../app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js')
script(src='../../app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js')
script(src='../../app-assets/vendors/js/tables/datatable/dataTables.select.min.js')
script(src='../../app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js')

// END: Page Vendor JS
// BEGIN: Theme JS
script(src='../../app-assets/js/core/app-menu.js')
script(src='../../app-assets/js/core/app.js')
script(src='../../app-assets/js/scripts/components.js')
// END: Theme JS
// BEGIN: Page JS
script(src='../../assets/js/myscript.js')
script(src='../../app-assets/js/scripts/ui/data-list-view.js')
script(src='../../assets/js/scripts.js')
script(src='../../app-assets/vendors/js/extensions/dropzone.min.js')
// END: Page JS
